{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Azubi-Dashboard</h1>
    </div>
{% endblock %}
