{% extends 'base.html.twig' %}
{% block title %}Edit Entry{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Eintrag bearbeitn!</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


{% endblock %}