{% extends 'base.html.twig' %}
{% block title %}Azubi Bericht!{% endblock %}

{% block body %}

    <div class="cal-heatmap-container">

    </div>

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}