{% extends 'base.html.twig' %}
{% block title %}Azubi Bericht!{% endblock %}

{% block body %}

    <div class="cal-heatmap-container">

    </div>

    <div class="example-wrapper">
        {% for entry in entries %}
            <table class="table">
                <thead>
                <tr>
                    <th>Aktionen</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>text</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">Eintrag Bearbeiten</a>
                            <a href="{{ path('add_entry', {id: entry.id, date: entry.date}) }}">Neuer Eintrag anlegen</a>
                        </td>
                        <td>
                            <span>{{ entry.id }}</span>
                        </td>
                        <td>
                            <span>{{ entry.date }}</span>
                        </td>
                        <td>
                            <span>{{ entry.text }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}