{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Ausbilder-Dashboard</h1>
        <ul>
            <li class="list-group-item"><a href="{{ path('add_azubi')}}">Einladungs Link</a></li>
        </ul>
    </div>
{% endblock %}
