{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seite nicht gefunden</h1>

    <p>
        Du Depp bisd auf da falschn Seitn glandet.
        Hör auf de scheiß URL manuell obzutippn du Zipfl
    </p>
{% endblock %}