{% extends 'base.html.twig' %}

{% block title %}Registrieren{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="container">
            <h3>Als was möchten Sie sich registrieren?</h3>
        </div>
        <div class="container mb-3">
            <a class="btn btn-outline-primary" href="{{ path('app_registration_ausbilder') }}">Registration Ausbilder</a>
            <a class="btn btn-outline-primary" href="{{ path('app_registration_azubi') }}">Registration Azubi</a>
        </div>
    </div>
{% endblock %}
