{% extends 'base.html.twig' %}

{% block title %}Registrieren{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap') }}
    {{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block body %}
    <div class="registration">
        <div>
            <a href="{{ path('app_registration_ausbilder') }}">Registration Ausbilder</a>
        </div>
        <div>
            <a href="{{ path('app_registration_azubi') }}">Registration Azubi</a>
        </div>
    </div>
{% endblock %}
