{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bootstrap') }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Administration</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('administration_users') }}">Benutzerliste</a></li>
            <li class="list-group-item"><a href="{{ path('administration_newUser') }}">Neuen Benutzer erstellen</a></li>
            <li class="list-group-item"><a href="{{ path('administration_apprenticeships') }}">Ausbildungsliste</a></li>
        </ul>
    </div>
{% endblock %}
